Source: liblc3
Section: devel
Priority: optional
Maintainer: Brandon Whitehead <tricksterguy87@gmail.com>
Build-Depends: cmake, debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://github.com/complx-tools/liblc3
Vcs-Git: https://github.com/complx-tools/liblc3/liblc3.git

Package: liblc3
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: liblc3 is a C++ framework for running and analyzing lc3 assembly code. It supports running and backstepping through instructions along with breakpoints, watchpoints, and other debugging functionality. It supports the original and the 2019 revision of the lc3. It can be extended via plugins in C++.

Package: liblc3-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: liblc3 (= ${binary:Version}), ${misc:Depends}
Description: liblc3 is a C++ framework for running and analyzing lc3 assembly code. It supports running and backstepping through instructions along with breakpoints, watchpoints, and other debugging functionality. It supports the original and the 2019 revision of the lc3. It can be extended via plugins in C++.