Source: liblc3
Section: devel
Priority: optional
Maintainer: Brandon Whitehead <tricksterguy87@gmail.com>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.6
Homepage: https://github.com/complx-tools/liblc3
Vcs-Git: https://github.com/complx-tools/liblc3/liblc3.git

Package: liblc3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: liblc3 is a C++ framework for running and analyzing lc3 assembly code. It supports running and backstepping through instructions along with breakpoints, watchpoints, and other debugging functionality. It supports the original and the 2019 revision of the lc3. It can be extended via plugins in C++.
